<h1>Child Admin</h1>

<% @families.each do |family| %>
  <p class="family" id="family_<%= family.id %>">
    <%= link_to(family.famlilyname, family_path(family.id)) %>
  </p>
<% end %>
<%= link_to "Add Child", :new_child, :class => "new_button" %>