<h1>Welcome <%= current_user.username %>!</h1>

<% if session[:event_id] %>
  <p>Current Event: <%= link_to Event.find(session[:event_id]).name, event_path(session[:event_id]) %> (<%= link_to("Deactivate Event", deactivate_event_path(session[:event_id])) %></p>
<% else %>
  <p>Current Event: No Active Event (<%= link_to("Choose Event",:events) %>)</p>
<% end %>

<% if ENV['DEMO_STATUS'] == "TRUE" && session[:tour_id].nil? %>
  <div class="demo tl">
    <h3>Welcome to the A2 Kidz Checkin Demo Site</h3  >
    <p>This site is here to let you see how this product works without actually seeing any production data. It is scheduled have the database dropped and re-seeded every day, so don't feel bad about creating new objects.</p>
    
    <h2>Purpose</h2>
    <p>This program was created to help facilitate checkin during children's events at the <a href="www.a2gretna.org">Acts2 Church in Gretna, NE</a>. It works by creating events and then looking up registered families by having them type in thier phone number. A list of children that belong to that family is presented to the user. They confirm which children are present on that day and add records in the database to keep an accurate history of past events.</p>
    
    <h3>Getting Started (Product Tour)</h3>
    <ol>
      <li>Click on 'Events' in the navigation menu</li>
    </ol>
  </div>
  <% session[:tour_id] = 0 %>
<% end %>

<% if ENV['DEMO_STATUS'] == "TRUE" && session[:tour_id] == 5 %>
  <div class="demo">
    <h3>Product Tour Cont.</h3>
    <ol>
      <li>Click on the event name where it lists the 'Current Event' above</li>
    </ol>
  </div>
  <% session[:tour_id] = 6 %>
<% end %>

<% if ENV['DEMO_STATUS'] == "TRUE" && session[:tour_id] == 8 %>
  <div class="demo demo_event">
    <h3>Product Tour Cont.</h3>
    <p>Now you know the basics. From here, have a look around. There is much more to be seen, but that is for another time.</p>
    <p>Congrats!</p>
  </div>
  <% session[:tour_id] = nil %>
<% end %>