<h1>Family Admin</h1>

<% @families.each do |family| %>
  <p class="family" id="family_<%= family.id %>">
    <%= link_to(family.familyname, family_path(family.id)) %>
  </p>
<% end %>
<%= link_to "Add Family", :new_family, :class => "new_button" %>