<h1>Event Admin</h1>

<% @events.each do |event| %>
  <p class="event" id="event_<%= event.id %>">
    <%= link_to(event.name, event_path(event.id)) %>
  </p>
<% end %>
<%= link_to "Add Event", :new_event %>