/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.accordion
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
 */

/* Clarfix */
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

/* Layout Elements */

html { height: 100%; }

body {
  background-color: #8b0000;
  background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */height: 93%;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 100%;
  max-width: 900px;
  height: 100;
  min-height: 100%;
  background-color: #DCDCDC;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

#flash{
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  border: 1 solid black;
  padding-left: 15px;
}

h1, h2{
  border-bottom: 2px solid;
}

a {
  color: black;
}

a:hover {text-decoration:underline;}

.right{
  float: right;
}

.left{
  float: left;
}

.inlineblock{
  display: inline-block;
}

.center{
  margin: 0 auto;
}

.tc{
  text-align: center;
}

/* Project Specific Style*/

a.new_button {
  color: white;
  background-color: #8B0000;
  text-decoration:none;
  padding: 7px 15px;
  margin: -7px 4px;
  border-radius: 5px;
}

a.submit {
  background-color: #63aa24;
}

/* Admin Navigation Bar Style */

select, input, textarea{
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

#admin ul{
  list-style-type:none;
  margin:0;
  background-color: #8B0000;
  padding:6px;
  border-radius: 3px;
}

#admin ul li
{
  display:inline;
  background-color: #8B0000;
  padding: 5px;
}

#admin ul li a{
  color: white;
  text-decoration: none;
}

#admin ul li:hover{
  background-color: #CE0304;
}

.demo{
  background-color: lightyellow;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid red;
  padding: 10px;
}

.demo_event{
  width: 90%;
  margin: 10px;
}

.demo#show_hid{
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 324px;
  margin-top: -143px;
}

.demo_ribbon{
  position: fixed;
  top:0;
  left:0;
}

.demo_ribbon img{
  width: 200px;
}

#login{
  width: 350px;
  margin: 0 auto;
}