/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.accordion
 *= require_self
 *= require_tree .
 */
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

html { height: 100%; }

body {
  background-color: darkred;
  background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 93%;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 100%;
  max-width: 900px;
  height: 100;
  min-height: 100%;
  background-color: rgba(230, 230, 230, 1);
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

#flash{
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  border: 1 solid black;
}

#hidden_home{
  position: relative;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  font-size: 0;
  border-radius: 25px;
}

.pic_background{
  background-image: url("/assets/paintcans2.jpg");
}

#hidden_home:hover{
  background-color: rgba(100,100,100,0.3);
}

h1, h2{
  border-bottom: 2px solid;
}

a {
  color: black;
}

a:hover {text-decoration:underline;}

.grey {
  color: grey;
}

a.new_button {
  color: white;
  background-color: darkred;
  text-decoration:none;
  padding: 7px 15px;
  margin: -7px 4px;
  border-radius: 5px;
}

a#submit {
  background-color: green;
}

select, input, textarea{
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.center{
  margin: 0 auto;
}

#admin ul{
  list-style-type:none;
  margin:0;
  background-color: darkred;
  padding:10px;
  border-radius: 5px;
}

#admin ul li
{
  display:inline;
  background-color: darkred;
  padding: 5px;
  border-radius: 3px;
}

#admin ul li a{
  color: white;
  text-decoration: none;
}

#admin ul li:hover{
  background-color: red;
}