#events table{
  background-color: white;
  border:1px solid black;
}

#events .gap{
  line-height: 34px;
}

#events th{
  background-color: #353832;
  color: white;
}

#events .column{
  margin: 15px;
}

#events #event_table th{
  background-color: #353832;
  color: white;
  padding: 5px 75px;
}

#events #event_table tr:nth-child(odd){
  background-color: #B6B5BB;
}

#events #stats{
  margin-right: 35px;
}

#events #summary{
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}

#events #past_events{
  overflow-y: auto;
  padding-right: 20px;
  margin: 5px;
  height: 200px;
}

#events #event_summary{
  margin-top: 0;
  font-weight: bolder;
}