#families .left{
  width: 300px;
  margin: 0 25px;
}

#families a.left{
  width:auto;
  margin-right: 230px;
}

#families .inlineb{
  display: inline-block;
  margin: 5px 0;
}

#families select{
  margin: 16px 2px;
}

#families .frost{
  background-color: #DFDFDF;
  border-radius: 7px;
  margin: 5px 0;
}

#families .links{
  margin-top: 10px;
}